body {
    background-color: #322134;
    color: rgb(149, 246, 246);
    font-family: "joc", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "joc", sans-serif;
font-weight: 900;
font-style: normal;
}

p {
    font-family: "attribute-text", sans-serif;
font-weight: 400;
font-style: normal;
}